/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poiret+One&display=swap');
@import "normalizes.css";
@import "resets.css";

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue: 174;
    --sat: 63%;
    --first-color: hsl(var(--hue), var(--sat), 40%);
    --first-color-alt: hsl(var(--hue), var(--sat), 36%);
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color: hsl(var(--hue), 8%, 35%);
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #FFF;
    --light-balck-color: #202020;

    /*========== Font and typography ==========*/
    --body-font: "Niramit", sans-serif;
    ;
    --h1-font-size: 1.5rem;
    --normal-font-size: .938rem;
    --tiny-font-size: .625rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --h1-font-size: 2.25rem;
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: var(--body-font);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
    padding: 4.5rem 0 2rem;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.section__height {
    min-height: 100vh;
}

/*=============== LAYOUT ===============*/
.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/*=============== HEADER ===============*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__img {
    width: 32px;
    border-radius: 50%;
}

.nav__logo {
    color: var(--title-color);
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    /* .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  } */
}

.nav__list,
.nav__link {
    display: flex;
}

.nav__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    /* font-weight: 600; */
}

.nav__list {
    justify-content: space-around;
}

.nav__name {
    font-size: var(--tiny-font-size);
    /* display: none;*/
    /* Minimalist design, hidden labels */
}

.nav__icon {
    font-size: 1.5rem;
}

/*Active link*/
.active-link {
    position: relative;
    color: var(--first-color);
    transition: .3s;
}

/* Minimalist design, active link */
/* .active-link::before{
  content: '';
  position: absolute;
  bottom: -.5rem;
  width: 4px;
  height: 4px;
  background-color: var(--first-color);
  border-radius: 50%;
} */

/* Change background header */
.scroll-header {
    box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */

/* For medium devices */
@media screen and (min-width: 576px) {
    .nav__list {
        justify-content: center;
        column-gap: 3rem;
    }
}

@media screen and (min-width: 767px) {
    body {
        margin: 0;
    }

    /* .section {
        padding: 7rem 0 2rem;
    } */

    /* .nav {
    height: calc(var(--header-height) + 1.5rem);
  } */
    .nav__img {
        display: none;
    }

    .nav__icon {
        display: none;
    }

    .nav__name {
        font-size: 13px;
        /* display: block; */
        /* Minimalist design, visible labels */
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    /* First design, remove if you choose the minimalist design */
    .active-link::before {
        content: '';
        position: absolute;
        bottom: -.5rem;
        width: 22px;
        height: 3px;
        background-color: var(--first-color);
        border-radius: 3px;
    }

    /* Minimalist design */
    /* .active-link::before{
      bottom: -.75rem;
  } */
}

/* For large devices */
@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

.header__toggle {
    font-size: 1.7rem;
    cursor: pointer;
}

.nav__menu.active {
    height: 300px;
}

.nav__menu.active ul {
    opacity: 1;
}

.hamburger {
    display: none;
}

/* 600px */
@media only screen and (max-width: 680px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        height: 0px;
        /* display: none; */
        position: absolute;
        top: var(--header-height);
        left: 0;
        right: 0;
        width: 100vw;
        background: var(--container-color);
        transition: 0.5s;
        overflow: hidden;
    }

    .nav__list {
        display: block;
        width: fit-content;
        margin: 54px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav__item a {
        margin-bottom: 20px;
    }

    .nav__name {
        font-size: 1rem;
        /* display: block; */
        /* Minimalist design, visible labels */
    }

    .call_btn {
        display: none;
    }
}


.call_btn {
    width: 145px;
    height: 25px;
    border-radius: 3px;
    border: 1px solid var(--light-balck-color);

}

.innercont_ofcall {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 6.4px;
}

.tel_numb {
    font-size: 12px;
    color: var(--light-balck-color);
}

.call_icon {
    width: 10px;
}

.logo_icon {
    width: 116px;
}







/* Slider */

.slider {
    position: relative;
    width: 100%;
    background: #2c3e50;
    /* darckblue */
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.myslide {
    height: 400px;
    display: none;
    overflow: hidden;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #d6d6d6;
    transition: 0.1s;
    user-select: none;
}

.prev:hover,
.next:hover {
    color: #ffffff;
}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 7px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 33px;
    height: 3px;
    background-color: #b7b7b7;
    border-radius: 3px;
    margin: 0 10px;
    cursor: pointer;
}

/* /2 */

/* javascript */
.active,
.dot:hover {
    background-color: #FFF;
    /* blue */
}

/* /javascript */

/* muslide add fade */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.8
    }

    to {
        opacity: 1
    }
}

/* /muslide add fade */

/* 3 */
.txt {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}


@keyframes posi {
    from {
        left: 25%;
    }

    to {
        left: 15%;
    }
}

.txt h1 {
    color: #00a7ff;
    /* blue */
    font-size: 50px;
    margin-bottom: 20px;
}

.txt p {
    font-family: "Jost", sans-serif;
    font-weight: 3  00;
    font-size: 20px;
}

/* /3 */

/* 4 */
/* .slider_img { */
    /* transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s; */
/* } */

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}


@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }

    to {
        transform: scale(1.5, 1.5);
    }
}

/* /4 */



/* 5 */
@media screen and (max-width: 800px) {
    .myslide {
        height: 210px;
    }

    .txt {
        letter-spacing: 2px;
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    /* .txt_card {
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    } */

    @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }


    @keyframes posi2 {
        from {
            top: 35%;
        }

        to {
            top: 50%;
        }
    }

    .txt h1 {
        font-size: 40px;
    }

    .txt p {
        font-size: 13px;
    }

}

/* /5 */

/* 6 */
@media screen and (max-width: 520px) {
    .txt h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .prev,
    .next {
        display: none;
    }

    .dot {
        width: 19px;
        margin: 0 3px;
    }
}

/* /6 */



.slider_img {
    width: 100%;
    height: auto;
    background-size: cover;
}

.card-inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(27px);
    border-radius: 35px;
    padding: 12px 28px;
}

.txt_card {
    position: absolute;
    width: 70%;
    color: #fff;
    /* letter-spacing: 2px; */
    line-height: 20px;
    top: 12%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

.home_section {
    padding-top: var(--header-height);
    background: var(--container-color);
}

@media screen and (max-width: 767px) {
    .home_section {
        padding-top: 0;
    }
}

.inslider_coalescence {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* align-items: center; */
}

.slider_text {
    margin-top: 45px;
    max-width: 400px;
    font-size: 25;
}

.white_logo {
    padding-top: 10px;
    width: 135px;
}

.middletext {
    padding-top: 10px;
    line-height: 30px;
    color: #C06740;
    text-decoration: underline;
    font-size: 20px;
}

.whitelogo_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomtext {
    font-size: 17px;
    padding-top: 20px;
}

@media screen and (min-width: 1030px) {
    .card {
        font-family: "Jost", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        width: 302px;
        height: 300px;
        transition: all 0.2s;
        position: relative;
        cursor: pointer;
    }
}

@media screen and (max-width: 1030px) {
    .slider_text {
        display: none;
    }

    .whitelogo_block {
        display: none;
    }

    .card {
        padding-top: 67px;
        max-width: 630px;
        min-width: 250px;
        min-height: 200px;
    }

    .inslider_coalescence {
        flex-direction: row;
        justify-content: center;


    }

}

@media screen and (max-width: 800px) {
    .middletext {
        font-size: 18px;
    }

    .bottomtext {
        padding-top: 10px;
    }

    .card-inner {
        padding: 12px 18px;
        border-radius: 20px;
    }

    .card {
        padding-top: 0;
    }
}

@media screen and (max-width: 500px) {
    .slider_text {
        display: block;
    }

    .card {
        display: none;
    }

    .middletext {
        display: none;
    }

    .dotsbox {
        display: none;
    }

    .largest_text_home {
        padding-top: 20px;
        font-size: 15px;
    }
}

.underslider_texts {
    padding-top: 50px;
    width: 100%;
}

.maintitle {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    max-width: 670px;
    text-align: center;
}

.undtexts_innerblock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.largest_text_home {
    line-height: 23px;
    padding-top: 30px;
    font-size: 17px;
    font-family: "Niramit", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: #000000;
    text-align: justify;
}

.about_part {
    min-height: 700px;
    max-width: 780px;
    background: #a39b982d;
    z-index: 2;
}

.toothinabout {
    position: relative;
    z-index: -1;
    /* top: 63px; */
    bottom: 600px;
    /* left: 348px; */
    left: 40%;
}

.inner_about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 88px;
    font-family: "Niramit", sans-serif;
    font-weight: 500;
    line-height: 1.3;
    min-height: 690px;
}

.about_container {
    max-height: 670px;
}

/* .about_textone {
    padding-top: 100px;
} */

.about_texttwo {
    color: #2360A7;
    /* position: relative;
    top: 330px; */
    text-align: end;
}



.section_text_inner {
    color: #72604b;
    text-align: center;
}



/* Google Map */

.map_part {
    /* padding-top: 50px; */
    min-height: 500px;
}

.google_map {
    width: 100%;
    height: 380px;
}

.bluredblocks_block {
    position: relative;
    bottom: 60px;
    z-index: 10;
    /* width: 272; */
    min-height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.blured_block {
    width: 272px;
    height: 198px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
}

.bluredblock_inner {
    padding: 20px 23px;
    padding-right: 55px;
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid #e0e0e0;
}

@media screen and (max-width: 890px) {
    .bluredblocks_block {
        justify-content: center;
    }

    .bl_block {
        margin: 10px 20px;
    }

    .google_map {
        height: 250px;
    }

    .fr_block_none {
        display: none;
    }
}

.aboutplace_title {
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 10px;
}

.aboutplace_text {
    font-size: medium;
    margin-top: 25px;
    color: #000;
}

@media screen and (max-width: 700px) {
    .blured_block {
        width: 213px;
        height: 193px;
    }

    .bluredblocks_block {
        bottom: 30px;
    }
}

@media screen and (max-width: 500px) {
    .bluredblocks_block {
        flex-direction: column;
        bottom: -20px;
    }

    .blured_block {
        width: 100%;
        height: 165px;
    }

    .underslider_texts {
        padding-top: 40px;
    }

    .largest_text_home {
        font-size: 15px;
    }

    .maintitle {
        font-size: 18px;
    }

    .inner_about {
        padding: 38px 22px;
    }

    .third_section_extern {
        padding-top: 40px;
    }
}

@media screen and (max-width: 710px) {
    .toothinabout {
        left: 20%;
    }
}


@media screen and (max-width: 550px) {
    .toothinabout {
        left: 5%;
    }

    .section__height {
        min-height: 30vh;
    }
}





/* Team Section */

.team_section {
    background: #ebebeb;
}

.team_dentists_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 310px;
    padding-top: 110px;
}

.dentist_block {
    width: 280px;
    height: 310px;
    /* border: 1px solid #818181; */
}

.inner_dentist_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 15px;
}

.round_insteadofphoto_block {
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background: #9E9E9E;
}

.info_about_dentist {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat', 'sans-serif';
}

.dentist_name {
    color: #000000;
    font-weight: 500;
    padding-top: 23px;
}

.dentist_roles {
    line-height: 20px;
    padding-top: 15px;
}

.text_belowteam_block {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    width: 100%;
    text-align: center;
}

.text_below_team {
    padding-bottom: 100px;
    width: 85%;
}


@media screen and (max-width: 760px) {
    .team_dentists_part {
        display: grid;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
    }

    .dentist_block {
        width: 100%;
    }

    .dentist_block:nth-child(3) {
        grid-column: 1 / -1;
    }
}

@media screen and (max-width: 520px) {
    .team_dentists_part {
        grid-template-columns: 1fr;
    }
}



/* Calling Button on the small devices */

.smalldvc_call_btn {
    display: none;
}

@media screen and (max-width: 680px) {
    .smalldvc_call_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        z-index: var(--z-fixed);
        bottom: 0;
        position: fixed;
        border: 1px solid #8e8e8e;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin-bottom: 30px;
        margin-right: 25px;
        backdrop-filter: blur(10px);
        background-color: #bfd3e9;
    }

    .onsmallcall_img {
        width: 20px;
    }
}




/* Why to choose */
.whytochoose_section {
    background: #fcf8f8;
}
.whytochoose_part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whytochoose_title {
    font-family: "Poiret One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-decoration: underline 1px;
    padding-bottom: 23px;
}

.whytochoose_reason {
    line-height: 22px;
    padding: 14px 20px;
}

.whytochoose_reason:last-child {
        padding-bottom: 30px;
}
@media screen and (max-width: 500px){
    .whytochoose_reason {
        padding: 3px 0px;
    }
}